@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root{
--international-orange-golden-gate-bridge: #c03221ff;
--ghost-white: #f7f7ffff;
--deep-champagne: #f2d0a4ff;
--independence: #545e75ff;
--viridian: #3f826dff;
}
